.accordion {
	margin-bottom: 12px;
	.custom-title {
		text-align: left !important;
		font-size: 24px;
	}
	p {
		margin: 10px 0 !important;
		text-align: left !important;
		font-size: 16px !important;
	}
}
