.messaging {
	.custom-rounded {
		border-radius: 8px 0 8px 0;
	}
	.other {
		display: flex;
		justify-content: right;
	}
	.msgbody_height {
		height: calc(100% - 41px);
	}
	.mobile {
		height: calc(100vh - 120px);
	}
}
