.upload {
	.ant-upload-drag {
		background: #e6dde6;
	}
	.ant-select-selector {
		// background: red !important;
		border-radius: 6px !important;
		border: none !important;
		outline: none !important;
	}
}
